.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fced71;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  z-index: 2;
}

.title {
  color: #383E86;
  white-space: pre-wrap;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 3px;
  margin: 0;
}

.buttonContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .buttonContainer {
    width: 90%;
  }
} 