.contact-section {
  position: relative;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 160px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .contact-section {
    padding-top: 64px;
    padding-bottom: 100px;
  }
} 